@charset "uft-8";

body {
    background-color: #87CEEB; /* 天空藍 */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cg fill='%23fff' fill-opacity='0.2'%3E%3Cpath d='M36 4a2 2 0 0 0-2 2v2.3L22.5 9a2 2 0 1 0-1 3.7l4.4 1.6L20 18.4a2 2 0 1 0 1 3.7l4.4-1.6V26a2 2 0 1 0 4 0v-2.3l4.4 1.6a2 2 0 1 0 1-3.7l-4.4-1.6 2.9-4.5a2 2 0 1 0-3-2.2l-2.9 4.5L26 8.4a2 2 0 1 0-3.1 2.2l2.9 4.5V18a2 2 0 1 0 4 0v-2.3l2.9-4.5A2 2 0 0 0 36 4zM2 26a2 2 0 1 0 4 0 2 2 0 1 0-4 0zM58 38a2 2 0 0 0-2 2v2.3l-11.5-4.2a2 2 0 1 0-1 3.7l4.4 1.6-4.4 1.6a2 2 0 1 0 1 3.7l4.4-1.6V46a2 2 0 1 0 4 0v-2.3l4.4 1.6a2 2 0 1 0 1-3.7l-4.4-1.6 2.9-4.5a2 2 0 1 0-3-2.2l-2.9 4.5-4.4-1.6a2 2 0 1 0-1 3.7l4.4 1.6V48a2 2 0 1 0 4 0v-2.3l2.9-4.5a2 2 0 0 0-3-2.2l-2.9 4.5L48 36.4a2 2 0 1 0-3.1 2.2l2.9 4.5V46a2 2 0 1 0 4 0zM42 58a2 2 0 1 0 4 0 2 2 0 1 0-4 0zM24 46a2 2 0 1 0-2-2 2 2 0 0 0 2 2zm14-12a2 2 0 1 0 4 0 2 2 0 1 0-4 0zm-14 0a2 2 0 1 0 4 0 2 2 0 1 0-4 0z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
    animation: 雪 10s linear infinite;
}

@keyframes 雪 {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 1000px, 200px 500px, -200px -500px;
    }
    100% {
        background-position: 1000px 2000px, 400px 1000px, -400px -1000px;
    }
}

.title {
    border: 2px solid #000; /* 外框 */
    padding: 10px; /* 內邊距 */
    border-radius: 10px; /* 圓角半徑 */
}

a{color:black;}

h1{
    width:300px;
    margin:10px auto;
    padding:10px;
    border:5px;
    background-color:#fbf9cc;
    color:#005f00;
    font-size: 250%;
    text-align: center;
    line-height: 1;
} 

h2,h3{
    width:300px;
    margin:10px;
    padding:10px;
    border:5px;
    background-color:#fbf9cc;
    color:#005f00;
} 

